@model SistemaGestionTransporteMVC.Models.Bus

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container my-5">
    <div class="card shadow-lg border-0 bg-dark text-white">
        <div class="card-header bg-primary text-white">
            <h2 class="mb-0">Detalles del Bus</h2>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3 fw-bold text-light">
                    @Html.DisplayNameFor(model => model.IdBus)
                </dt>
                <dd class="col-sm-9">
                    <span class="text-white">@Html.DisplayFor(model => model.IdBus)</span>
                </dd>

                <dt class="col-sm-3 fw-bold text-light">
                    @Html.DisplayNameFor(model => model.Modelo)
                </dt>
                <dd class="col-sm-9">
                    <span class="text-white">@Html.DisplayFor(model => model.Modelo)</span>
                </dd>

                <dt class="col-sm-3 fw-bold text-light">
                    @Html.DisplayNameFor(model => model.Marca)
                </dt>
                <dd class="col-sm-9">
                    <span class="text-white">@Html.DisplayFor(model => model.Marca)</span>
                </dd>

                <dt class="col-sm-3 fw-bold text-light">
                    @Html.DisplayNameFor(model => model.Anio)
                </dt>
                <dd class="col-sm-9">
                    <span class="text-white">@Html.DisplayFor(model => model.Anio)</span>
                </dd>

                <dt class="col-sm-3 fw-bold text-light">
                    @Html.DisplayNameFor(model => model.Capacidad)
                </dt>
                <dd class="col-sm-9">
                    <span class="text-white">@Html.DisplayFor(model => model.Capacidad)</span>
                </dd>

                <dt class="col-sm-3 fw-bold text-light">
                    @Html.DisplayNameFor(model => model.Placa)
                </dt>
                <dd class="col-sm-9">
                    <span class="text-white">@Html.DisplayFor(model => model.Placa)</span>
                </dd>
            </dl>
        </div>
        <div class="card-footer d-flex justify-content-between">
            <a class="btn btn-secondary" asp-action="Index">Regresar a la Lista</a>
        </div>
    </div>
</div>
