@model IEnumerable<SistemaGestionTransporteMVC.Models.Bus>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4 shadow-lg p-2 ab-3 text-center">Lista de Buses</h1>
            <div class="card mb-4">
                <div class="card-body">
                    <a type="button" class="btn btn-info btn-sm" asp-action="Create">
                        <i class="bi bi-file-earmark-plus fs-5"></i> Agregar Bus
                    </a>
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.IdBus)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Modelo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Marca)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Anio)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Capacidad)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Placa)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IdBus)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Modelo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Marca)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Anio)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Capacidad)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Placa)
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Edit", new {id = item.IdBus})" class="btn btn-warning" role="button">
                                            <i class="bi bi-pencil-square"></i> Editar
                                        </a>
                                        <a href="@Url.Action("Details", new {id = item.IdBus})" class="btn btn-success" role="button">
                                            <i class="bi bi-info-circle"></i> Detalle
                                        </a>
                                        <form id="delete-form-@item.IdBus" asp-action="DeleteConfirmed" asp-controller="Bus" asp-route-id="@item.IdBus" method="post" class="d-inline">
                                            <button type="button" class="btn btn-danger" onclick="confirmarEliminacion(@item.IdBus)">
                                                <i class="bi bi-trash"></i> Eliminar
                                            </button>
                                        </form>

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="js/scripts.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="js/datatables-simple-demo.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    function confirmarEliminacion(id) {
        Swal.fire({
            title: '¿Estás seguro?',
            text: "No podrás deshacer esto.",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Sí, eliminar',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                document.getElementById(`delete-form-${id}`).submit();
            }
        });
    }
</script>
