@model IEnumerable<SistemaGestionTransporteMVC.Models.Destino>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdDestino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.imagen)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdDestino)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @if (!string.IsNullOrEmpty(item.imagen)) {
                    <img src="@item.imagen" alt="@item.nombre" style="width:100px; height:auto;" />
                } else {
                    <span>No Image</span>
                }
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IdDestino }) |
                @Html.ActionLink("Details", "Details", new { id = item.IdDestino }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IdDestino })
            </td>
        </tr>
}
    </tbody>
</table>
